.thumb {
    width: 300px;
    display: block;
}

.Search {
    display: block;
    margin-bottom: 20px;
}

.line, .line2 {
    width: 300px;
}

.divs {
    width: 300px;
    display: inline-block;
    vertical-align: top;
    margin-right: 17px;

}
